body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.flex_container {
    display: flex;
}

.contact_section {
    background-color: white;
    flex-basis: 22%;
    border-right: 1px solid #E8EBE4;
}

.main_section {
    background-color: whitesmoke;
    flex-basis: 78%;
    min-height: 100vh;
}

.user_content {
    display: flex;
    padding: 15px 20px 15px 30px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #E8EBE4;
}

.user_data {
    display: flex;
    justify-content: space-between;
}

.user_data img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.user_text {
    display: flex;
    flex-direction: column;
    padding-left: 0.7em;
}

.user_text p {
    margin: 0;
    align-items: stretch;
}

.user_name {
    font-size: medium;
}

.user_status {
    font-size: small;
    color: #BEC1BB;
    padding-top: 0.2em;
}

.icons {
    width: 3.5em;
    display: flex;
    justify-content: space-between;
}

.icons i {
    color: #BEC1BB;
}

.new_chat {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #E8EBE4;
}

.button {
    background-color: #A491D2;
    border: none;
    color: white;
    padding: 1em 3em;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 3em;
    cursor: pointer;
}

.button:hover {
    background-color: #CDC3E6;    
}

.button:focus {
    background-color: #BEC1BB;
}

.contact_content {
    display: flex;
    padding: 15px 0px 15px 30px;
    align-items: center;
    justify-content: stretch;
    border-bottom: 2px solid #E8EBE4;
}

.contact_content img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

.contact_text {
    display: flex;
    flex-direction: column;
    padding-left: 1em;
}

.contact_text p {
    margin: 0;
}

.contact_name {
    font-size: large;
}

.contact_last_msg {
    font-size: medium;
}

.main_section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ms_start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ms_start img {
    width: 250px;
    height: 250px;
    border-radius: 5%;
}

.ms_text {
    width: 550px;
    text-align: center;
    line-height: 1.6;
}

.ms_title {
    font-size: 48px;
    margin-bottom: 0;
    margin-top: 0.5em;
}

.ms_explanation {
    font-family: 'Open Sans', sans-serif;
    font-size: large;
    font-weight: 400;
    margin: 0;
}