body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.flex_container {
    display: flex;
}

.contact_section {
    background-color: white;
    flex-basis: 22%;
    border-right: 1px solid gray;
}

.main_section {
    background-color: whitesmoke;
    flex-basis: 78%;
    min-height: 100vh;
}

.contact_button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #E8EBE4;
}

.button {
    background-color: #A491D2;
    border: none;
    color: white;
    padding: 1em 3em;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 3em;
    cursor: pointer;
}

.button:hover {
    background-color: #CDC3E6;    
}

.button:focus {
    background-color: #BEC1BB;
}

.contact_content {
    display: flex;
    padding: 15px 0px 15px 30px;
    align-items: center;
    justify-content: stretch;
    border-bottom: 2px solid #E8EBE4;
}

.contact_content img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

.contact_text {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.contact_text p {
    margin: 0;
}

.contact_name {
    font-size: large;
}

.contact_last_msg {
    font-size: medium;
}

.main_section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ms_start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ms_start img {
    width: 250px;
    height: 250px;
    border-radius: 5%;
}

.ms_title {
    font-size: 48px;
    margin-bottom: 0;
    margin-top: 0.5em;
}

.ms_text {
    width: 530px;
    text-align: center;
    line-height: 1.6;
}

.ms_explanation {
    font-size: large;
    margin: 0;
}